# For a ScrapingHub hosted Splash instance, the username will be a 32-digit hex
# string, and the password will be null.
#
# These variables should be given to HttpAuthMiddleware with the following
# incantations in each crawler:
#
#  from scrapy.spiders import CrawlSpider
#  from scrapy_splash import SplashRequest
#
#  class SomeIntranetSiteSpider(CrawlSpider):
#
#    http_user = SPLASH_HTTP_USER
#    http_pass = SPLASH_HTTP_PASS
#    name = 'intranet.example.com'
#
#    # .. rest of the spider code omitted ...
#
# RISJbot/spiders/us/viceus.py gives a worked example.
#
SPLASH_URL = 'https://abcdefgh-splash.scrapinghub.com.invalid/'
SPLASH_HTTP_USER = '0123456789abcdef0123456789abcdef'
SPLASH_HTTP_PASS = ''


