# -*- coding: utf-8 -*-
from RISJbot.spiders.base.businessinsiderspider import BusinessInsiderSpider

# NOTE: Inherits parsing code etc., overriding only the name and start URL.
class $classname(BusinessInsiderSpider):
    name = '$name'
    # allowed_domains = ['$domain']
    # A list of XML sitemap files, or suitable robots.txt files with pointers.
    sitemap_urls = ['http://$domain/sitemap?map=news&IR=C'] 

    def parse_page(self, response):
        """@url <url>
        @returns items 1
        @scrapes bodytext bylines fetchtime modtime headline
        @scrapes keywords section source summary url language
        @noscrapes firstpubtime
        """
        return super().parse_page(response)

